{
  "endOfLine": "auto",
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "htmlWhitespaceSensitivity": "ignore",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": false
}
